.logo {
    border-radius: 50%;
}
.tabel {
    margin-left: 1260px;
    margin-top: -50px;
    border: 2px black;
}
.Border {
    width: 1590px ;
    margin-bottom: 0px;
    margin-top: 25px;
    margin-right: 0px;
}
.banner {
    margin-left: 200px;
    margin-bottom:1500px;
    margin-top: -2500px;
    box-shadow: 9px 6px 8px #C35817;
}
.cnc2 {
    margin-left: 1310px;
    box-shadow: 4px 4px 4px #c35817;
    margin-top: -10000px;
    margin-bottom: 1700px;
}

.usrnm {
    margin-top: -10px;
}
.sidebar {
    width: 250px;
    height: 2200px;
    margin-top: -100px;
    background-color: #ff7f00;
    padding: 20px;
    margin-left: 1299px;
}
body {
    background-color: #FFB162;
}
.komen {
    margin-top: -3000px;
    margin-bottom: 1200px;
}
.msg {
    margin-top: -1300px;
    font-size: 40px;
}
