.logo {
    border-radius: 50%;
}
.tabel {
    margin-left: 1260px;
    margin-top: -50px;
    border: 2px black;
}
.Border {
    width: 1590px ;
    margin-bottom: 0px;
    margin-top: 25px;
    margin-right: 0px;
}
.banner {
    margin-bottom: 1000px;
    margin-top: 13px;
    margin-left: 200px;
    box-shadow: 10px 10px 20px black;
}
.bordervert {
    margin-left: 1300px;
    margin-top: -1625px;
}
.Ourprofile {
    margin-left: 1380px;
    margin-top: -5000px;
    font-size: 25px;
    text-shadow: 3px 3px 4px;
}
.mesinDies {
    margin-top: 600px;
    margin-left: 50px;
    box-shadow: 10px 10px 20px black;
}
.cnc {
    margin-left: 590px;
    margin-top: -600px;
    box-shadow: 10px 10px 20px black;
}
.cnc2 {
    margin-left: 1360px;
    margin-top: -5000px;
    margin-bottom: 950px;
    border: 1px solid black;
    box-shadow: 10px 10px 20px;
}
