.logo {
    border-radius: 50%;
}
.tabel {
    margin-left: 1260px;
    margin-top: -50px;
    border: 2px black;
}
.Border {
    width: 1590px ;
    margin-bottom: 0px;
    margin-top: 25px;
    margin-right: 0px;
}
.banner {
    margin-top: 30px;
}
